.body {
    margin: auto;
    background-color: #222;
    font-family:'Montserrat';
    max-width: 1020px;
}
.container {
    width: 80%;
    margin: auto;
}
header {
    background: #FFFFFF;
}

header::after {
    content: '';
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding: 10px 0;
    width: 120px;
    margin-left: 0px;
}
nav {   
    float: right;
    padding: 2px 0;
}
.ul {
width: 50%;
margin: auto;
}
nav ul {
    margin: auto 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 80px;
    padding-top: 40px;
}

nav a {
    color: #444;
    text-decoration: none;
    font-family:'Montserrat';
    font-size: 16px;
}

nav a:hover {
color: #000;
font-weight: bold;
} 
i {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 45px;
    background: #057790;
    color: white;
    padding: 7px 10px;
    border-radius: 50%;
    cursor: pointer;
}
i:hover {
    background: #3BA8C0;
    transition: .3s;
}
.flexContainer {
    display: flex;
    margin: auto;
    width: 90% 10%;
}
.flexContainer .text {
    margin-left: 40%;
}
.card-img {
  width: 45%;  
justify-content:left;
}
.card-img img {
    border-radius: 10px;
    width: 280%;
    margin-right: auto;
    padding: -20px;
    margin: 20x;
}
.mySkills {
    text-align: left;
    text-justify:distribute;
    justify-self: right;
}
.item1 {
    grid-area: myArea;
}
.workGrid {
    display: grid;
    grid-template-areas: myArea myArea myArea myArea myArea myArea;
    grid-template-columns: 50% 50%;
    grid-template-rows: 550px 550px 550px;
}
.workGrid .image1 {
    border-radius: 30px;
    width: 90%;
    margin-right: auto;
    padding: 1px 0;
    margin: 20x;
}
.workGrid .image2 {
    border-radius: 30px;
    width: 90%;
    margin-left: auto;
    padding: 5px 0;
    margin: 20x;
}
.workGrid .image3 {
    border-radius: 20px;
    width: 130%;
    margin-left: auto;
    padding: 20px 0;
    margin: 30x;
}
.project1 {
    margin: 40px;
    padding: 20px;
}
.project2 {
    margin-right: 130px;
    padding: 10px;
    text-align: right;
}
.project3 {
    margin: 40px;
    padding: 20px;
}
.workGrid .text {
    margin-left: 25%;
}
.heroImg {
    height: 600px;
    padding: 10px;
}

.separator { 
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.img {
   max-width: 70%;
}
.right {
    float: right;
    padding-left: 15px;
}
.left {
    align-content: flex-end;
    padding-left: 15px;
}
/*==== Button ====*/
.primary {
    background-color: #057790;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 22px;
    border-radius: 30px;
    stroke: white;
    width: 320px;  
    border: 2px solid #057790;
    padding: 14px;
    cursor: pointer;
}
.primary:hover {
    box-shadow: 0 0 15px #3BA8C0;
    background-color: #3BA8C0;
    border-radius: 30px; 
    border: 2px solid #3BA8C0;
}
.secondary {
    background-color: #FFFFFF;
    color: #057790;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 22px;
    border-radius: 30px;    
    width: 320px;  
    border: 3px solid #057790;
    padding: 14px 28px;
    cursor: pointer;
    margin-left: 25px;
}
.secondary:hover {
    background-color: #FFFFFF;
    color: #057790;
    box-shadow: 0 0 15px #3BA8C0; 
    border: 2px solid #3BA8C0;
    padding: 14px 28px;
    cursor: pointer;
}
.iterating {
    margin: 0 auto;
    height: auto;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center
}
/*==== Typography ====*/
.text {
padding-top: initial;
}
.main-title {
    color: black;
    font-size: 45px;
    font-weight: 700;
    font-family: "Montserrat";
}
.main-sub-title {
    color: black;
    font-size: 40px;
    font-weight: 400;
    font-family: "Montserrat";
}
.section-title {
    color:  #057790;
    font-size: 38px;
    font-weight: 700;
    font-family: "Montserrat";   
}
.sub-heading {
    color: black;
    font-size: 28px;
    font-weight: 400;
    font-family: "Montserrat";
}
.brown-text {
    color: #057790;
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat";
}
h3 {
    color: black;
    font-size: 32px;
    font-weight:lighter;
    font-family: 'Handlee', cursive;
    text-align: center;
}
h4 {
    color: black;
    font-size: 24px;
    font-weight:lighter;
    font-family: "Montserrat";
    text-align: center;
}

p {
   color: black;
    font-size: 20px;
    font-family: "Montserrat";   
}

hr {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    color: #AC6E64;
    margin-top: 40px;
}
.footerGrid {
    background-color: #D6816A;
    margin: auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 10px;
    width: 120%;
    height: 120px;
    display: grid;
    text-align: left;
    margin-left: -120px;
    grid-area: "info" "icon";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px;
}
 footer ul {
     margin: 0;
     list-style: none;
     display: flex;
    justify-content: right;
    font-family: "Montserrat";
 }
 footer li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    justify-content: right;
 }
.info {
    margin: 20px;
    margin-left: 10px;
    padding: 0px; 
    text-align: left;
}
.icon {
    margin-left: 250px;
    padding: 20px;
    float: right;
}